* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Montserrat", sans-serif;
  font-family: "Roboto", sans-serif;
  font-family: "Roboto Condensed", sans-serif;
  background-image: url(../images/background\ 1.png);
  background-repeat: no-repeat;
  width: 1366px;
  margin:auto;
}
.link_header {
  text-decoration: none;
}
.img {
  width: 53px;
  height: 47px;
  background: url(../images/logo1.png);
}
.header {
  padding-left: 161px;
  padding-top: 46px;
  display: flex;
  justify-content: space-between;
}
.textlogo {
  padding-top: 3px;
  font-family: "Roboto";
  font-style: normal;
  display: flex;
  align-items: center;
  color: #ffffff;
  width: 140px;
  display: block;
  padding-left: 10px;
}
.logo_all {
  display: flex;
  justify-content: space-between;
  text-decoration: none;
}
.logo1 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 29px;
  line-height: 29px;
}
.logo2 {
  font-weight: 700;
  font-size: 18px;
  line-height: 18px;
}

.logo_all:hover .img {
  width: 53px;
  height: 47px;
  background: url(../images/logo2.png);
}
.logo_all:hover .textlogo {
  color: #f26522;
}
.contacts {
  padding-right: 177px;
  display: flex;
  flex-direction: column;
  gap: 19px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 18px;
}

.mail_cntct {
  text-decoration: none;
  color: #ffffff;
}
.tel_cntct {
  text-decoration: none;
  color: #ffffff;
  padding-left: 75px;
}
.mail_cntct:hover {
  color: #f26522;
}
.tel_cntct:hover {
  color: #f26522;
}
.gallary_grid {
  display: grid;
  grid-template-columns: 300px 300px 300px;
  grid-template-rows: 220px 220px;
  grid-gap: 78px 61px;
}
main {
  padding-top: 22px;
  padding-left: 165px;
}
.txt {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 18px;
  color: #ffffff;
  padding-top: 20px;
}
.txt1 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 18px;
  color: #ffffff;
  padding-top: 10px;
}
.footer {
  display: flex;
  padding-top: 90px;
  padding-bottom: 15px;
}
.copyright {
  align-items: center;
  justify-content: center;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
  color: #ffffff;
  align-self: center;
  justify-self: center;
  padding-left: 530px;
}
.card {
  width: 300px;
  height: 55px;
  background: #f26522;
  position: absolute;
  left: 0px;
  top: 165px;
  opacity: 0;
  transition: all 0.4s ease-out;
  display: flex;
  justify-content: space-between;
}
.link_img {
  text-decoration: none;
}
.grid_ {
  position: relative;
}

.link_img:hover .card {
  opacity: 1;
}
.link_img:hover .txt1 {
  color: #f26522;
}
.link_img:hover .txt {
  color: #f26522;
}
.txt_in_cart {
  display: flex;
  flex-direction: column;
  padding-left: 16px;
}
.cart_txt {
  padding-top: 7px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  color: #ffffff;
  padding-bottom: 8px;
}
.money {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 20px;
  color: #ffffff;
}
.details {
  padding-top: 29px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  color: #ffffff;
}
.details::after {
  content: ">";
  padding-left: 16px;
}
